#imgDVD1 { visibility: hidden; position: absolute; top: 48px; left: 11px; }
#frmDVD1 { visibility: hidden; position: absolute; top: 37px; left: 0px; }
#imgDVD2 { visibility: hidden; position: absolute; top: 48px; left: 496px; }
#frmDVD2 { visibility: hidden; position: absolute; top: 37px; left: 485px; }

#imgDVD3 { visibility: hidden; position: absolute; top: 139px; left: 11px; }
#frmDVD3 { visibility: hidden; position: absolute; top: 128px; left: 0px; }
#imgDVD4 { visibility: hidden; position: absolute; top: 139px; left: 496px; }
#frmDVD4 { visibility: hidden; position: absolute; top: 128px; left: 485px; }

#imgDVD5 { visibility: hidden; position: absolute; top: 230px; left: 11px; }
#frmDVD5 { visibility: hidden; position: absolute; top: 219px; left: 0px; }
#imgDVD6 { visibility: hidden; position: absolute; top: 230px; left: 496px; }
#frmDVD6 { visibility: hidden; position: absolute; top: 219px; left: 485px; }

#imgDVD7 { visibility: hidden; position: absolute; top: 321px; left: 11px; }
#frmDVD7 { visibility: hidden; position: absolute; top: 310px; left: 0px; }
#imgDVD8 { visibility: hidden; position: absolute; top: 321px; left: 496px; }
#frmDVD8 { visibility: hidden; position: absolute; top: 310px; left: 485px; }

#imgDVD9 { visibility: hidden; position: absolute; top: 412px; left: 11px; }
#frmDVD9 { visibility: hidden; position: absolute; top: 401px; left: 0px; }
#imgDVD10 { visibility: hidden; position: absolute; top: 412px; left: 496px; }
#frmDVD10 { visibility: hidden; position: absolute; top: 401px; left: 485px; }

#imgDVD11 { visibility: hidden; position: absolute; top: 503px; left: 11px; }
#frmDVD11 { visibility: hidden; position: absolute; top: 492px; left: 0px; }
#imgDVD12 { visibility: hidden; position: absolute; top: 503px; left: 496px; }
#frmDVD12 { visibility: hidden; position: absolute; top: 492px; left: 485px; }

table.movies td { height: 91px; width: 484px; }