#bannerlg1 { visibility: hidden; position: absolute; top: 48px; left: 11px; }
#bannerfr1 { visibility: hidden; position: absolute; top: 37px; left: 0px; }
#bannerlg2 { visibility: hidden; position: absolute; top: 48px; left: 496px; }
#bannerfr2 { visibility: hidden; position: absolute; top: 37px; left: 485px; }

#bannerlg3 { visibility: hidden; position: absolute; top: 139px; left: 11px; }
#bannerfr3 { visibility: hidden; position: absolute; top: 128px; left: 0px; }
#bannerlg4 { visibility: hidden; position: absolute; top: 139px; left: 496px; }
#bannerfr4 { visibility: hidden; position: absolute; top: 128px; left: 485px; }

#bannerlg5 { visibility: hidden; position: absolute; top: 230px; left: 11px; }
#bannerfr5 { visibility: hidden; position: absolute; top: 219px; left: 0px; }
#bannerlg6 { visibility: hidden; position: absolute; top: 230px; left: 496px; }
#bannerfr6 { visibility: hidden; position: absolute; top: 219px; left: 485px; }

#bannerlg7 { visibility: hidden; position: absolute; top: 321px; left: 11px; }
#bannerfr7 { visibility: hidden; position: absolute; top: 310px; left: 0px; }
#bannerlg8 { visibility: hidden; position: absolute; top: 321px; left: 496px; }
#bannerfr8 { visibility: hidden; position: absolute; top: 310px; left: 485px; }

#bannerlg9 { visibility: hidden; position: absolute; top: 412px; left: 11px; }
#bannerfr9 { visibility: hidden; position: absolute; top: 401px; left: 0px; }
#bannerlg10 { visibility: hidden; position: absolute; top: 412px; left: 496px; }
#bannerfr10 { visibility: hidden; position: absolute; top: 401px; left: 485px; }

#bannerlg11 { visibility: hidden; position: absolute; top: 503px; left: 11px; }
#bannerfr11 { visibility: hidden; position: absolute; top: 492px; left: 0px; }
#bannerlg12 { visibility: hidden; position: absolute; top: 503px; left: 496px; }
#bannerfr12 { visibility: hidden; position: absolute; top: 492px; left: 485px; }