.menu1 { visibility: hidden; position: absolute; }
.menu2 { visibility: hidden; position: absolute; }
.menu3 { visibility: hidden; position: absolute; }
.menu4 { visibility: hidden; position: absolute; }
.menu5 { visibility: hidden; position: absolute; }
.menu6 { visibility: hidden; position: absolute; }
.menu7 { visibility: hidden; position: absolute; }
.menu8 { visibility: hidden; position: absolute; }
.menu9 { visibility: hidden; position: absolute; }
.menu10 { visibility: hidden; position: absolute; }
.menu11 { visibility: hidden; position: absolute; }
.menu12 { visibility: hidden; position: absolute; }

.frmRow0 { top: 37px; }
.imgRow0 { top: 48px; }
.frmRow1 { top: 128px; }
.imgRow1 { top: 139px; }
.frmRow2 { top: 219px; }
.imgRow2 { top: 230px; }
.frmRow3 { top: 310px; }
.imgRow3 { top: 321px; }
.frmRow4 { top: 401px; }
.imgRow4 { top: 412px; }
.frmRow5 { top: 492px; }
.imgRow5 { top: 503px; }

.frmCol0 { left: 0px; }
.imgCol0 { left: 11px; }
.frmCol1 { left: 485px; }
.imgCol1 { left: 496px; }

table.movies td { height: 91px; width: 484px; }