#imgDVD1 { visibility: hidden; position: absolute; top: 72px; left: 11px; }
#frmDVD1 { visibility: hidden; position: absolute; top: 61px; left: 0px; }
#imgDVD2 { visibility: hidden; position: absolute; top: 72px; left: 529px; }
#frmDVD2 { visibility: hidden; position: absolute; top: 61px; left: 518px; }

#imgDVD3 { visibility: hidden; position: absolute; top: 203px; left: 11px; }
#frmDVD3 { visibility: hidden; position: absolute; top: 192px; left: 0px; }
#imgDVD4 { visibility: hidden; position: absolute; top: 203px; left: 529px; }
#frmDVD4 { visibility: hidden; position: absolute; top: 192px; left: 518px; }

#imgDVD5 { visibility: hidden; position: absolute; top: 334px; left: 11px; }
#frmDVD5 { visibility: hidden; position: absolute; top: 323px; left: 0px; }
#imgDVD6 { visibility: hidden; position: absolute; top: 334px; left: 529px; }
#frmDVD6 { visibility: hidden; position: absolute; top: 323px; left: 518px; }

#imgDVD7 { visibility: hidden; position: absolute; top: 465px; left: 11px; }
#frmDVD7 { visibility: hidden; position: absolute; top: 454px; left: 0px; }
#imgDVD8 { visibility: hidden; position: absolute; top: 465px; left: 529px; }
#frmDVD8 { visibility: hidden; position: absolute; top: 454px; left: 518px; }

table.movies td { height: 132px; width: 513px; }