.menu1 { visibility: hidden; position: absolute; }
.menu2 { visibility: hidden; position: absolute; }
.menu3 { visibility: hidden; position: absolute; }
.menu4 { visibility: hidden; position: absolute; }
.menu5 { visibility: hidden; position: absolute; }
.menu6 { visibility: hidden; position: absolute; }
.menu7 { visibility: hidden; position: absolute; }
.menu8 { visibility: hidden; position: absolute; }

.frmRow0 { top: 61px; }
.imgRow0 { top: 72px; }
.frmRow1 { top: 192px; }
.imgRow1 { top: 203px; }
.frmRow2 { top: 323px; }
.imgRow2 { top: 334px; }
.frmRow3 { top: 454px; }
.imgRow3 { top: 465px; }

.frmCol0 { left: 0px; }
.imgCol0 { left: 11px; }
.frmCol1 { left: 518px; }
.imgCol1 { left: 529px; }

table.movies td { height: 132px; width: 513px; }