a {
    font-size: 18pt;
    text-decoration: none;
}

td {
    font-size: 18pt;
}

td#title {
    font-size: 18pt;
}

th {
    font-size: 22pt;
    text-align: left;
    font-weight: normal;
}

.secondaryText {
    font-size: 16pt;
}

.indexname {
    font-size: 23pt;
    height: 56px;
}

.posterTableParent {
    height: 542px;
}

table.main {
    width: 1096px;
}

img {
    border: 0;
}

.hidden {
    visibility: hidden;
    display: none;
    position: absolute;
    top: 600px;
    left: 1px;
}

.abs {
    position: absolute;
}

div.border {
    border-style: solid;
    border-width: 1px;
}

table.nobuffer {
    padding: 0px;
    border-spacing: 0px;
    border-width: 0px;
}

table.button {
    padding: 12px;
}

@media screen {
    #popupWrapper {
        position: absolute;
        top: 36px;
    }
    /* 1096x648 usable area on NMT by default */
    body {
        margin-top: 36px;
        margin-left: 92px;
        padding-right: 92px;
        background-repeat: no-repeat;
        width: 1096px;
        font-family: arial, sans-serif;
    }
    /* override from <theme>.css. Messed with debug background placement */
    html {
        background-color: transparent;
    }

    /* NMT does not have margins around headers */
    h1,h2,h3,h4,h5,h6 {
        margin: 0;
    }
}