td#title { background-color: #77fffddd; }
td#page { background-color: #77ff77ff; }
table.movies { background-color: #ccAAAAAA; }
.indexname { background-color: #cccc00; }
td#indexmenuright { background-color: #cc666666; }