td {
    font-size: 6pt;
}

td#page {
    font-size: 12pt;
}

a {
    font-size: 12pt;
    text-decoration: none;
    font-weight: bold;
}

div {
    font-size: 12pt;
}

#YearDurationEtc td {
    font-size: 12pt;
}

#overview {
    font-size: 13pt;  
}

#logo {
    top: 1px;
    left: 850px;
    width: 317px;
}

h1 {
    font-weight: normal;
    font-size: 24pt;
}

h1 a {
    font-weight: normal;
    font-size: 24pt;
}

h3 { 
    font-size: 14pt;
}

h4 { 
    font-weight: bold;
    font-size: 13pt;
}