body {
    background-color: #101010;
    color: #999999;
    font-size: 10pt;
    text-decoration: none;
}

.indexname {
    color: #dddddd;
    font-size: 23pt;
    font-weight: normal;
}

td#title {
    color: #dddddd;
    font-size: 18pt;
}

td#subtitle {
    color: #999999;
    font-size: 15pt;
}

td#page {
    color: #868686;
    font-size: 18pt;
}

a {
    color: #dddddd;
    font-size: 18pt;
    text-decoration: none;
}


/* used in categories.php */

th {
    font-size: 22pt;
    color: #dddddd;
    text-align: left;
}

table.categories {
    font-size: 18pt;
    font-weight: bold;
}