body {
    background-color: #101010;
    color: #999999;
}

a {
    color: #dddddd;
}

td {
    color: #dddddd;
}

th {
    color: #dddddd;
}

.secondaryText {
    color: #999999;
}

.button {
    background-color: #303030;
}

.defaultCardBackground1 {
    background-color: #d2b019
}

.defaultCardBackground2 {
    background-color: #338abb
}

.defaultCardBackground3 {
    background-color: #6b689d
}

.defaultCardBackground4 {
    background-color: #dd452b
}

.defaultCardBackground5 {
    background-color: #5ccea9
}