body {
    background-color: #f2f2f2;
    color: #888888;
}

a {
    color: #222222;
}

td {
    color: #222222;
}

th {
    color: #222222;
}

.secondaryText {
    color: #888888;
}

.button {
    background-color: #d8d8d8;
}

.defaultCardBackground1 {
    background-color: #009688
}

.defaultCardBackground2 {
    background-color: #D32F2F
}

.defaultCardBackground3 {
    background-color: #0288D1
}

.defaultCardBackground4 {
    background-color: #388E3C
}

.defaultCardBackground5 {
    background-color: #F57F17
}